{:deps {org.clojure/clojure {:mvn/version "1.10.0-RC2"}}
 :paths ["src" "resources"]
 :aliases {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-138"}}
                  :extra-paths ["test"]}}
}

